# Ignore everything
*

# Allow these
!.github/
!.github/**

!.gitignore

!src/
!src/**
!common/
!common/**

common/build/
common/build/**

!gradle/
!gradle/**

!resources/
!resources/**

!scripts/
!scripts/**

!AGENTS.md
!build.gradle.kts
!CHANGELOG.md
!CLAUDE.md
!gradle.properties
!gradlew
!gradlew.bat
!LICENSE
!qodana.yml
!README.md
!settings.gradle.kts
!requirements.txt
